python-dotenv
openai
robin_stocks
pyotp
pandas
ta
requests
fear-and-greed
beautifulsoup4
selenium
webdriver-manager
youtube-transcript-api
logging
streamlit
plotly
yfinance
matplotlib
deep_translator
slack_bolt
streamlit
schedule